.feature {
  margin-right: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 35rem;
  &__title {
    text-align: end;
    text-transform: uppercase;
    font-size: 5.5rem;
    color: #87241b;
  }

  &__button {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    text-align: end;
    color: black;
    transition: all 0.2s;

    &:hover {
      color: #87241b;
    }
  }

  &__text {
    font-size: 2rem;
    margin-left: 6rem;
    width: 80%;
    line-height: 2;
    margin-top: 18rem;
  }
}
